In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head(2)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
mnist = tf.keras.datasets.mnist

In [45]:
(x_train, y_train), (x_test, y_test) = mnist.load_data()
x_train, x_test = x_train / 255.0, x_test / 255.0

In [39]:
class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if(logs.get('accuracy')>0.99):
            print("n\Reached 99% accuracy so cancelling training.")
            self.model.stop_training = True

callbacks = myCallback()

In [40]:
model = tf.keras.Sequential([tf.keras.layers.Flatten(input_shape=(28, 28)),
                            tf.keras.layers.Dense(512, activation=tf.nn.relu),
                            tf.keras.layers.Dense(10, activation=tf.nn.softmax)])

In [41]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

In [42]:
model.fit(x_train, y_train, epochs=10, callbacks=[callbacks])

Epoch 1/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.2017 - accuracy: 0.9410
Epoch 2/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0809 - accuracy: 0.9754
Epoch 3/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0529 - accuracy: 0.9829
Epoch 4/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0381 - accuracy: 0.9876
Epoch 5/10
1870/1875 [============================>.] - ETA: 0s - loss: 0.0278 - accuracy: 0.9910n\Reached 99% accuracy so cancelling training.
1875/1875 [==============================] - 3s 2ms/step - loss: 0.0278 - accuracy: 0.9910

In [46]:
score = model.evaluate(x_test, y_test, verbose=0)

print("Test loss: ", score[0])
print("Test accuracy: ", score[1])

Test loss:  0.06875898689031601
Test accuracy:  0.9789999723434448

In [65]:
test_data = pd.read_csv('test.csv')

In [66]:
test_data.head(2)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
print(test_data.shape)

(28000, 784)

In [69]:
label = model.predict(test_data)

In [70]:
label = np.squeeze(label)

In [71]:
label = tf.argmax(label, axis=1)

In [75]:
Submission = pd.DataFrame({'Label': label})

In [77]:
Submission.head(2)

   Label
0      2
1      0

In [78]:
Submission.to_csv('digit_submission1.csv', index=True)