In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv('train.csv')

train_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x = train_data.drop(labels=['label'],axis = 1)
y = train_data['label']

In [4]:
x = x / 255.0

x = x.values.reshape(-1, 28, 28, 1)

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [6]:
x_train[1].shape

(28, 28, 1)

In [11]:
model = tf.keras.Sequential([
    tf.keras.layers.Conv2D(16, (3,3), activation='relu', input_shape=(28, 28, 1)),
    tf.keras.layers.MaxPool2D(2, 2),
    tf.keras.layers.Conv2D(32, (3,3), activation='relu'),
    tf.keras.layers.MaxPool2D(2, 2),
    tf.keras.layers.Conv2D(64, (3,3), activation='relu'),
    tf.keras.layers.AveragePooling2D(2, 2),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dense(10, activation='softmax')
])

In [12]:
model.compile(optimizer='rmsprop',
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

In [13]:
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1050/1050 [==============================] - 6s 6ms/step - loss: 0.4782 - accuracy: 0.8427
Epoch 2/10
1050/1050 [==============================] - 6s 6ms/step - loss: 0.1545 - accuracy: 0.9529
Epoch 3/10
1050/1050 [==============================] - 7s 6ms/step - loss: 0.1099 - accuracy: 0.9668
Epoch 4/10
1050/1050 [==============================] - 6s 6ms/step - loss: 0.0889 - accuracy: 0.9731
Epoch 5/10
1050/1050 [==============================] - 7s 7ms/step - loss: 0.0791 - accuracy: 0.9761
Epoch 6/10
1050/1050 [==============================] - 11s 10ms/step - loss: 0.0725 - accuracy: 0.9779
Epoch 7/10
1050/1050 [==============================] - 8s 8ms/step - loss: 0.0640 - accuracy: 0.9808
Epoch 8/10
1050/1050 [==============================] - 8s 7ms/step - loss: 0.0622 - accuracy: 0.9815
Epoch 9/10
1050/1050 [==============================] - 8s 7ms/step - loss: 0.0571 - accuracy: 0.9828
Epoch 10/10
1050/1050 [==============================] - 9s 8ms/step - loss: 0.0568 - accuracy: 0.9833

In [14]:
score = model.evaluate(x_test, y_test, verbose=0)

print("Test loss: ", score[0])
print("Test accuracy: ", score[1])

Test loss:  0.07029327005147934
Test accuracy:  0.9823809266090393

In [15]:
test = pd.read_csv('test.csv')
test = test / 255.
test = test.values.reshape(-1, 28, 28, 1)

In [16]:
label = model.predict(test)

In [17]:
label = np.squeeze(label)

In [18]:
label = tf.argmax(label, axis=1)

In [24]:
#Submission = pd.DataFrame({'Label': label})

In [25]:
#Submission.head(2)

   Label
0      2
1      0

In [26]:
#Submission.to_csv('digit_submission4.csv', index=True)

Another method

In [34]:
#results = np.argmax(results, axis=1)

In [19]:
results = pd.Series(label, name='Label')

submission = pd.concat([pd.Series(range(1,28001),name = "ImageId"), results],axis = 1)

In [20]:
submission.tail(5)

       ImageId  Label
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

In [21]:
submission.to_csv("digit_submission_8.csv",index=False)